@media screen and (min-width: 768px) {
    #esconder {
        display: none !important;
    }
}

@media screen and (max-width: 768px) {
    #altaResolucao {
        display: none !important;
    }
}

@media screen and (min-width: 768px) { /* TUDO QUE FOR MENOR QUE :  ( DESSA FORMA QUE SE LÊ )*/
    #baixaResolucao {
        display: none !important;
    }
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modalImage-content {
        width: 100%;
    }
}

/* MODAL DAS IMAGENS  */
 #myImg {
	cursor: zoom-in;
}

.close {
	color: white;
	opacity: 1;
	margin-bottom: 10px;
}

.modal-body {
	padding: 0px;
	
	position:relative; /* This avoids whatever it's absolute inside of it to go off the container */
    height: 250px;
    margin-bottom: 30px;
}

.modal-header {
	border-bottom: none;
	padding: 0px;	
}

.modal-content {
    background-color: transparent;
}

.img-responsive.teste {
	vertical-align:bottom;
    position:relative;
    z-index:-1;
    
    
    overflow:hidden;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    display:inline-block;
    
    margin-bottom: 20px;
}

/*
#myImg:hover {opacity: 0.7;}

The Modal (background)
.modalImage {
    display: none; Hidden by default
    position: absolute; Stay in place
    z-index: 1000; Sit on top
    padding-top: 100px; Location of the box
    left: 0;
    top: 0;
    width: 100%; Full width
    height: 100%; Full height 
    overflow: hidden; Enable scroll if needed
    overflow-y: hidden;
    overflow-x: auto;
    background-color: rgb(0,0,0); Fallback color
    background-color: rgba(0,0,0,0.9); Black w/ opacity
}

Modal Content (image)
.modalImage-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

Caption of Modal Image
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

Add Animation
.modalImage-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

The Close Button
.closeImage {
    position: absolute;
    top: 30px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.closeImage:hover,
.closeImage:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
} */
