<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/LayoutPadrao">

<th:block layout:fragment="conteudo">

	<div class="content">

		<div class="row">

			<div class="col-md-12">

				<div class="box box-warning">

					<div class="box-header with-border">
						<h3 class="box-title text-center">Importar</h3>
					</div>

					<div class="box-body">
					
						<div class="col-xs-12 text-right">
							<a th:href="@{|/lancamento/arquivoexemplo|}"><strong>Baixar Exemplo</strong></a>
						</div>
					
						<div th:replace="~{mensagensutils/MensagensAlertas :: alert}"></div>
					
						<form method="POST" th:object="${lancamento}" th:action="@{/lancamento/import}" enctype="multipart/form-data" role="form">
						
							<div th:replace="~{mensagensutils/Erros :: erros}"></div>
							
							<div class="row">
							
								<!-- Input -->
								<div class="col-sm-offset-2 col-sm-8 text-center">
								
									
									<div class="form-group">
										<label for="descricao" >Arquivos .ods, .xls, .xlsx:</label>
										<input id="idFile" name="file" type="file" class="form-control" accept="application/vnd.ms-excel" />
									</div>
									

								</div>
								
							</div>
							
							<div class="row" th:unless="${lancamentos} != null">
								<div class="col-sm-12 text-center">
									<button class="btn  btn-primary" type="submit">Avançar</button>
								</div>
							</div>

						</form>
						
						<div th:replace="~{lancamento/LancamentoEXCEL :: lancamentoEXCEL}"></div>
						
					</div>

				</div>

			</div>

		</div>
	</div>
	
	<script th:src="@{/layout/javascript/funcoesLancamento.js}"></script>
	
	<script th:inline="javascript">
	
		/* ALTERA A VISUALIZAÇÃO DA TABELA */
		$(document).ready(function() {
			
			$(".dateFile").each(function(){
				
				var date = $(this).val();
				
				if (date != null) {
					
					var newdate = date.split("-").reverse().join("/");
					$(this).val(newdate);
					
				}
				
		   })
		});
		
		/* NECESSÁRIO ISSO PARA GRAVAR SEM EXCESSÕES */
		$("#botaoGravarExcel").on("click", function(){
				
				$(".dateFile").each(function(){
				
				var date = $(this).val();
				
				if (date != null) {

					var newdate = date.split("/").reverse().join("-");
					$(this).val(newdate);
					
				}
				
		   })
		});
	
	</script>

</th:block>

</html>