<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">

<th:block layout:fragment="conteudo">

	<div class="content">

		<div class="row">

			<div class="col-md-12">

				<!-- Lista Completa -->
				<div class="box">

					<div class="box-header">
					
						<h3 class="box-title">Lancamentos</h3>
						
					</div>

					<div class="box-body" style="padding: 0px;">

						<div id="bodyteste"></div>

					</div>

					<!-- /.box-header -->
					<div class="box-body">

						<div layout:include="/mensagensutils/MensagensAlertas" th:remove="tag"></div>

						<form method="POST" th:object="${lancamento}" th:action="@{/lancamento}" role="form">

							<div layout:include="/mensagensutils/Erros" th:remove="tag"></div>

							<div class="row">

								<!-- date -->
								<div class="col-sm-offset-4 col-sm-4">
									<div class="form-group">
										<label>Date:</label>

										<div class="col-md-12 input-group date" id="monthYearListagem">
											<div class="input-group-addon"> <i class="fa fa-calendar"></i>
											</div>

											<input id="inputMonthYear" type="text" value="date" class="form-control pull-right text-center"
												readonly="readonly" th:value="${dataHoraLancamento != null} ? ${lancamento.dataHoraLancamento}"
												th:field="*{dataHoraLancamento}" />
										</div>
									</div>
									<!-- /.form group -->
								</div>

							</div>

						</form>
						
						<div id="altaResolucao" style="padding: 0px; ">
						
							<div id="tabelaBlock"> 
								
							</div>
						
						</div>
						
						<div id="baixaResolucao">
						
							<div id="tabelaBlockMobile">
								
							</div>
							
						</div>

					</div>

				</div>

			</div>

		</div>
	</div>
	
	<script th:inline="javascript">
		/*<![CDATA[*/
		/* 	
		 $('#inputMonthYear').on("change", function(){
			
			var urlTeste = '/lancamento/tabela';
			
			if($('#inputMonthYear').val() != ''){
				urlTeste = urlTeste + '/' + encodeURIComponent($('#inputMonthYear').val());
			}
			
			/* $("#tabelaBlock").load(url, function(){
				$.getScript('/layout/plugins/datatables/jquery.dataTables.min.js');
				$.getScript('/layout/plugins/datatables/dataTables.bootstrap.min.js');
				$.getScript('/layout/javascript/login.js');
			}); */
			
		    /* $.ajax({
		        type: "GET",
		        url: urlTeste,
		        datatype : "html",
		        success: function(html) {
		            console.log(html);
		             $("#tabelaBlock").load(html);
		            }
		    });
			
		});  */
		
		/*]]>*/
	</script>

</th:block>

</html>
