<div th:fragment="tabelaLancamento" xmlns:th="http://www.thymeleaf.org" th:remove="tag" th:unless="${#lists.isEmpty(lancamentos)}"> 

	<table class="table table-bordered table-striped">
	
		<thead>
		
			<tr>
				<th class="text-center">Data</th>
				<th class="text-center">Descrição</th>
				<th class="text-center">Valor</th>
				<th class="text-center">Ação</th>
			</tr>
			
		</thead>
		
		<tbody>
		
			<tr th:each="lancamento : ${lancamentos}">
				<td class="col-sm-2 text-center" th:text="${#temporals.format(lancamento.dataHoraLancamento,'dd/MM/yyyy')}"></td>
				<td><a th:href="@{/lancamento/{id}(id=${lancamento.id})}" th:text="${lancamento.descricao}"></a></td>
				<td class="col-sm-2" th:text="((${lancamento.categoria.tipoDeCategoria.name()} == 'DESPESA') ? '- ' : '') + ${'R$ ' + #numbers.formatDecimal(lancamento.valorLancamento, 0, 'POINT', 2, 'COMMA')}"></td>
				<td class="col-xs-2 text-center">
					<a th:href="@{/lancamento/} + ${lancamento.id}" style="padding: 6px 10px" class="glyphicon glyphicon-edit" role="button"></a>
					<button th:id="${lancamento.id}" th:value="${lancamento.id}" type="button" data-toggle="modal" data-target="#confirmaExclusaoModal" style="background:none;border:none;padding:0;" ><i class="glyphicon glyphicon-trash"></i></button>
				</td>	
			</tr>
			
		</tbody>
		
	</table>
	
	<div class="row">
		<div class="col-md-offset-8 col-md-4">
			<span style= "color: gray;">Saldo atual: </span>
			<strong style= "font-size: 20px; color: #00C49D;" th:text="${saldo != null} ? ${saldo} : 0.00">0.00</strong>
		</div>
	</div>	
	
</div>