<div th:fragment="tabelaLancamentoMobile"
	xmlns:th="http://www.thymeleaf.org" th:remove="tag"
	th:unless="${#lists.isEmpty(lancamentos)}">

	<ul class="list-group list-group-unbordered" id="tabela1">
		<li class="list-group-item" th:each="lancamento : ${lancamentos}">
			<div class="row">

				<div class="col-xs-9">
					<a th:href="@{/lancamento/{id}(id=${lancamento.id})}" th:text="${lancamento.descricao}"></a>
				</div>

				<div class="col-xs-3">
					<button th:id="${lancamento.id}"
						th:value="${lancamento.id}" type="button" data-toggle="modal" data-target="#confirmaExclusaoModal" style="background:none;border:none;padding:0;" ><i class="glyphicon glyphicon-trash"></i></button>
				</div>

			</div>

		</li>
		
	</ul>
	
	<div class="row">
		<div class="col-md-offset-8 col-md-4">
			<span style="color: gray;">Saldo atual: </span> <strong style="font-size: 20px; color: #00C49D;"
				th:text="${saldo != null} ? ${saldo} : 0.00">0.00</strong>
		</div>
	</div>

</div>