<div th:fragment="tabelaLancamento" xmlns:th="http://www.thymeleaf.org" th:remove="tag" th:unless="${#lists.isEmpty(lancamentos)}"> 

	<table id="tabela1" class="table table-bordered table-striped">
	
		<thead>
		
			<tr>
				<th class="text-center">Código</th>
				<th class="text-center">Descrição</th>
				<th class="text-center">Valor</th>
			</tr>
			
		</thead>
		
		<tbody>
		
			<tr th:each="lancamento : ${lancamentos}">
				<td class="col-sm-1 text-center" th:text="${lancamento.id}"></td>
				<!-- <td><a th:href="@{/categoria/{id}(id=${categoria.id})}" th:text="${categoria.descricao}"></a></td> -->
				<td th:text="${lancamento.descricao}"></td>
				<td class="col-sm-2" th:text="((${lancamento.categoria.tipoDeCategoria.name()} == 'DESPESA') ? '- ' : '') + ${'R$ ' + #numbers.formatDecimal(lancamento.valorLancamento, 0, 'POINT', 2, 'COMMA')}"></td>
				<td class="col-xs-2 text-center"><a th:href="@{/categoria/} + ${lancamento.id}" style="padding: 6px 22px" class="btn btn-primary" role="button">Editar</a>
					<button class="btn  btn-danger" th:id="${lancamento.id}" th:value="${lancamento.id}" type="submit">Remover</button></td>
			</tr>
			
		</tbody>
		
	</table>
	
	<div class="row">
	
		<div class="col-md-offset-8 col-md-4">
			<span style= "color: gray;">Saldo atual: </span>
			<strong style= "font-size: 20px; color: #00C49D;" th:text="${saldo != null} ? ${saldo} : 0.00">0.00</strong>
		</div>
	</div>
	
	
</div>