<div th:fragment="tabelaLancamentoMobile" xmlns:th="http://www.thymeleaf.org" th:remove="tag"
	th:unless="${#lists.isEmpty(lancamentos)}">

	<div id="idTabelaMobile">

		<ul class="list-group list-group-unbordered"> <!-- tabela1 -->
			<li class="list-group-item" th:each="lancamento : ${lancamentos}" th:id="li+${lancamento.id}">
				<div class="row">
	
					<div class="col-xs-6">
						<a th:href="@{/lancamento/{id}(id=${lancamento.id})}" th:text="${lancamento.descricao}"></a>
					</div>
					
					<div class="col-xs-4">
						<span th:text="((${lancamento.categoria.tipoDeCategoria.name()} == 'DESPESA') ? '- ' : '')
						+ ${'R$ ' + #numbers.formatDecimal(lancamento.valorLancamento, 0, 'POINT', 2, 'COMMA')}"
						th:class="${lancamento.categoria.tipoDeCategoria.name() == 'RECEITA'} ? '' : (${lancamento.pago == true} AND ${lancamento.categoria.tipoDeCategoria.name() == 'DESPESA'} ? 'text-success' : 'text-danger')"></span>
					</div>
	
					<div class="col-xs-2">
						<button th:id="${lancamento.id}"
							th:value="${lancamento.id}" type="button" data-toggle="modal" data-target="#confirmaExclusaoModal" style="background:none;border:none;padding:0;" ><i class="glyphicon glyphicon-trash"></i></button>
					</div>
	
				</div>
	
			</li>
			
		</ul>
		
		<div class="row" th:unless="${receitas == null}">
			<div class="col-xs-12 text-right">
				<span style= "color: gray;">Total das receitas: </span>
				<strong style= "font-size: 20px; color: #00C49D;" th:text="${receitas != null} ? ${'R$ ' + #numbers.formatDecimal(receitas, 1, 'POINT', 2, 'COMMA')} : 0.00">0,00</strong>
			</div>
		</div>
		
		<div class="row" th:unless="${debitos == null}">
			<div class="col-xs-12 text-right">
				<span style= "color: gray;">Total dos débitos: </span>
				<strong style= "font-size: 20px; color: #00C49D;" th:text="${debitos != null} ? ${'R$ ' + #numbers.formatDecimal(debitos, 1, 'POINT', 2, 'COMMA')} : 0.00">0,00</strong>
			</div>
		</div>
		
		<div class="row" th:unless="${saldo == null}">
		
			<div class="col-xs-12 text-right">
				
				<span style= "color: gray;">Saldo Atual: </span>
	
				<strong style= "font-size: 20px; color: #00C49D;" th:text="${saldo != null} ? ${'R$ ' + #numbers.formatDecimal(saldo, 1, 'POINT', 2, 'COMMA')} : 0.00">0,00</strong>
				
				<button type="button" class="btn btn-default dropdown-toggle personalized-color" id="idDeposito" data-toggle="dropdown"><span class="fa fa-caret-down"></span></button>
		        
		        <ul class="dropdown-menu pull-right" id="idDeposito">
			        <li><a data-target="#confirmaLancamentoOuDeposito" data-toggle="modal"
			        	href="#confirmaLancamentoOuDeposito">Opções de depósitos</a></li>
		        </ul>
			</div>
	       	
		</div>
		
		<div class="row" th:unless="${saldoProvavel == null}">
			<div class="col-xs-12 text-right">
				<span style= "color: gray;">Probabilidade saldo: </span>
				<strong style= "font-size: 20px; color: #00C49D;" th:text="${saldoProvavel != null} ? ${'R$ ' + #numbers.formatDecimal(saldoProvavel, 1, 'POINT', 2, 'COMMA')} : 0.00">0,00</strong>
			</div>
		</div>
		
		<div class="row" th:unless="${total == null}">
			<div class="col-xs-12 text-right">
				<span style= "color: gray;">Total: </span>
	
				<strong style= "font-size: 20px; color: #00C49D;" th:text="${total != null} ? ${'R$ ' + #numbers.formatDecimal(total, 1, 'POINT', 2, 'COMMA')} : 0.00">0,00</strong>
																												<!-- COLOCANDO ESSE 1 O VALOR FICA ASSIM: R$ 0,50 CASO CONTRÁRIO R$ ,50 -->
			</div>
		</div>
	
	</div>
	
</div>