<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutSimples">

<th:block layout:fragment="conteudo">

	<div class="scale">
		<div id="logo">
			<div id="green-circle-1">
				<div id="green-circle-2">
					<span class="top char0">
						<p></p>
					</span><span class="top char1">
						<p>A</p>
					</span><span class="top char2">
						<p>C</p>
					</span><span class="top char3">
						<p>C</p>
					</span><span class="top char4">
						<p>O</p>
					</span><span class="top char5">
						<p>U</p>
					</span><span class="top char6">
						<p>N</p>
					</span><span class="top char7">
						<p>T</p>
					</span><span class="top char8">
						<p></p>
					</span><span class="bottom char0">
						<p></p>
					</span><span class="bottom char1">
						<p></p>
					</span><span class="bottom char2">
						<p>$</p>
					</span><span class="bottom char3">
						<p>$</p>
					</span><span class="bottom char4">
						<p></p>
					</span><span class="bottom char5">
						<p></p>
					</span>
					<div id="white-circle-1">
						<div id="box">
							<div class="circle"></div>
							<div class="circle"></div>
							<div class="circle"></div>
							<div class="circle"></div>
							<div class="circle"></div>
							<div class="circle"></div>
							<div class="circle"></div>
							<div class="circle"></div>
							<div class="circle"></div>
							<div class="circle"></div>
							<div class="circle"></div>
							<div class="circle"></div>
							<div class="circle"></div>
							<div class="circle"></div>
							<div class="circle"></div>
							<div class="circle"></div>
							<div class="circle"></div>
							<div class="circle"></div>
							<div class="circle"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="content">
	
		<form method="POST" th:object="${cadastro}" th:action="@{/cadastrar}" role="form">
		
			<div class="mat-in">
				<input id="nome" type="text" th:field="*{nome}" required="true"></input>
				<span class="bar" ></span>
				<label for="nome">Nome</label> <!-- th:field="*{nome}" -->
			</div>
			
			<div class="mat-in">
				<input id="email" type="text" th:field="*{email}" required="true"></input>
				<span class="bar"></span> <!-- value="password" -->
				<label for="email">Email</label>
			</div>
			
			<div class="mat-in">
				<input id="senha" type="password" th:field="*{senha}" required="true"></input>
				<span class="bar"></span> <!-- value="password" -->
				<label for="senha">Senha</label>
			</div>
			
			<button type="submit" value="submit" id="cadastrar" >Cadastrar-se</button>
			
		</form>

	</div>
</th:block>
</html>